*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    /* height: 100%; */
    background-color: #dadada;
}
.one{
    position: absolute;
    /* display: none; */
    width: 100%;
    height: 100vh;
    background-color: red;
}
.two{
    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
}
 